/* Hide default HTML checkbox */
label {
  margin: 0 1vmin;
  vertical-align: middle;
}

.checkbox {
  display: none;
}

.slider-container {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2em;
  cursor: pointer;
  background-color: var(--color-gray-light);
}

.slider {
  position: absolute;
  background-color: white;
  width: 1.5em;
  height: 1.5em;
  top: 0.25em;
  left: 0.25em;
}

.checkbox:checked + .slider-container {
  background-color: var(--info);
}

.checkbox:checked + .slider-container .slider {
  left: 2.25em;
}
