.image-square {
  display: inline-block;
  width: 15vw;
  height: 15vw;
  margin: 0.5vmin;
  overflow: hidden;
  border: 1px solid black;
  background-position: 50% 50%;
  background-size: cover;
}

@media screen and (max-aspect-ratio: 9/10) {
  .image-square {
    width: 28vw;
    height: 28vw;
  }
}
