.image-square {
  display: inline-block;
  width: 15vw;
  height: 15vw;
  margin: 0.25vmin;
  overflow: hidden;
  border: 1px solid black;
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  background-color: var(--color-gray-light);
}

.selected {
  opacity: 0.35;
}

.icon {
  margin: 0.5vmin;
  width: 15%;
}

.clickable:hover {
  transform: scale(1.15);
}

.lock-ring {
  float: right;
}

.edit-icon {
  display: none;
}

.image-square:hover .edit-icon {
  display: block;
}

.captioned-icon {

}

@media screen and (max-aspect-ratio: 9/10) {
  .image-square {
    width: 28vw;
    height: 28vw;
  }
}
