#main-grid {
  display: table;
  margin: auto;
  text-align: center;
}

.top-bar {
  background-color: var(--color-gray-light);
  width:100%;
  padding: 2vmin;
  margin-bottom: 2vmin;
}

.top-bar input {
  outline: none;
  padding: 0.5vmin;
}

#account-select {
  outline: none;
  padding: 0.5vmin;
  margin: 0 2vmin;
  float: right;
}
