#main-grid {
  display: table;
  margin: auto;
  text-align: center;
}

#main-grid h2 {
  font-size: 1rem;
}

.top-bar {
  background-color: var(--color-gray-light);
  width:100%;
  padding: 2vmin;
  margin-bottom: 2vmin;
}

.top-bar-right {
  float: right;
}

.top-bar-right input {
  outline: none;
  padding: 0.5vmin;
  margin-right: 2vmin;
}

.account-select {
  margin: 0 2vmin;
}

.account-select select {
  outline: none;
  padding: 0.5vmin;
  background-color: white;
}

#load-all-button {
  padding: 0.5vmin;
  margin: 0 2vmin;
  background-color: white;
}
