#main-grid {
  display: table;
  margin: auto;
  text-align: center;
}

#main-grid h2 {
  font-size: 1rem;
}

.empty-content {
  margin: auto;
  text-align: center;
}

.top-bar {
  width:100%;
  position: -webkit-sticky; /* Compatibility */
  position: sticky;
  top: 0;
}

.admin-bar {
  background-color: var(--color-gray-light);
  padding: 2vmin;
}

.upload-status-bar {
  background-color: var(--color-gray-very-light);
  width:100%;
  padding: 2vmin;
}

#upload-button {
  padding: 0.5vmin;
  font-weight: bold;
  background-color: var(--color-gray-light);
}

.page-content {
  margin-top: 2vmin;
}

.backend-address-input {
  float: right;
}

.backend-address-input input {
  outline: none;
  padding: 0.5vmin;
}

.account-select select {
  outline: none;
  padding: 0.5vmin;
  background-color: white;
}
