* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  --color-gray-light: rgb(215, 215, 215);
  --color-gray-very-light: rgb(233, 233, 233);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  padding: 0.75vmin;
  font-weight: bold;
  background-color: var(--color-gray-light);
}
