.status-message {
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5vmin;
  padding: 0.5vmin;
  border-radius: 1vmin;
  --color-positive: var(--success);
  --color-negative: var(--danger);
}

.positive {
  border: 0.5vmin solid var(--color-positive);
  color: var(--color-positive);
}

.negative {
  background-color: var(--color-negative);
  color: white;
}

.dismiss-icon {
  width: 2vmin;
  float: right;
  cursor: pointer;
}
